/* Basic Styling */

.description_header {
  text-align: center;
}

.facts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fact-item {
  text-align: center;
  max-width: 600px;
  margin: 5px auto;
  padding: 8px;
}

#factsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_pet input {
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  display: block;
  margin: 15px auto 5px auto;
  border: none;
  padding: 8px;
}

.form_pet button {
  width: 150px;
  box-sizing: border-box;
  display: block;
  margin: 10px auto 5px auto;
}

.form_pet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_pet label {
  text-align: center;
  margin-bottom: 0;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
  .description_container {
    flex-direction: row;
  }

  .description_text {
    width: 100%;
  }

  .fact-item {
    max-width: 70%;
    margin: 3px auto;
    padding: 5px;
    font-size: 13px;
  }

  .form_pet input {
    width: 180px;
  }

  .form_pet button {
    width: 150px;
  }
}
