:root {
  --white: #ffffff;
  --blue: #b4e6ff;
  --light-blue: #eaf5ff;
  --dark-blue: #3f75a7;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  width: 100%;
}

.container {
  height: 100vh;
  justify-content: space-between;
  flex: grow 1;
}

.nav_container {
  padding: 20px;
  background-color: var(--blue);
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  padding: 10px 0;
  filter: invert(1);
}

.menu_link {
  color: var(--white);
  text-decoration: none;
  padding: 0 20px;
}

footer {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 10px;
}

/*For index.html*/
.banner_container {
  background-color: var(--light-blue);
  height: 400px;
  margin-bottom: 50px;
  position: relative;
}

.form_pet {
  color: var(--dark-blue);
  font-style: italic;
  position: absolute;
  bottom: 100px;
}

.form_pet input {
  padding:5px 10px;
  margin: 10px;
  border: none;
}

.form_pet input::placeholder {
  color:var(--blue);
}

input[type="text"] {
  color: var(--dark-blue)
}

.form_pet button {
  background-color: var(--blue);
  color: var(--white);
  display: block;
  margin: 20px;
  padding: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
}

.description_container {
  width: 80%;
  margin: 0 auto;
}

.description_img {
  margin-right: 20px;
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.description_header {
  font-size: xx-large;
  font-style: italic;
  font-family: "Fugaz One", sans-serif;
}

.description_text {
  color: var(--dark-blue);
  width: 100%;
  margin-bottom: 100px;
}
.description_btn {
  justify-content: center;
  align-items: center;
}
.description_btn a {
  background-color: var(--blue);
  color: var(--white);
  width: 80%;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/*For weather.html*/
.weather_container {
  width: 80%;
  margin: 0 auto;
}
.walk_container {
  margin: 100px 0;
}
.weather_card {
  text-align: center;
  justify-content: space-between;
  background-color: var(--blue);
  color:var(--dark-blue);
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.walk_header {
  font-size: xx-large;
  font-style: italic;
  font-family: "Fugaz One", sans-serif;
}

.walk_text {
  color: var(--dark-blue);
  width: 100%;
  margin-top: 30px;
}

.zip_container {
  background-color: var(--white);
  height: 200px;
  margin: 0 auto;
}
.form_zip {
  color: var(--dark-blue);
  font-style: italic;
}

.form_zip input {
  margin: 10px;
  border: none;
  background-color: var(--light-blue);
  padding: 10px 20px;
}

.form_zip button {
  display: block;
  margin: 0 auto;
  background-color: var(--blue);
  color: var(--white);
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav_container {
    flex-direction: row;
  }
  .description_container {
    flex-direction: row;
  }
  .description_btn {
    flex-direction: row;
    justify-content: flex-end;
  }
  .description_btn a {
    width: 50px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .description_img {
    margin-bottom: 100px;
  }
  .walk_container {
    flex-direction: row;
  }

  .walk_text {
    margin-top: 0px;
    margin-left: 30px;
  }
}
